@use "../../scss/abstracts/mixins" as *;

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;

  .technology {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px 6px;
    border-radius: 8px;
    color: #fff;
  }

  .react {
    background: #58c4dc;
  }

  .typescript {
    background: #377cc8;
  }

  .contextapi {
    background: #c471ed;
  }

  .hooks {
    background: #a04747;
  }

  .responsive {
    background: linear-gradient(to right, #6c22bd, #f55195 50%, #e1cd60);
  }

  .reactrouter {
    background: #f44250;
  }

  .materialui {
    background: #0073e6;
  }

  .reactquery {
    background: linear-gradient(to right, #f04842, #f59d0d);
  }

  .api {
    background: #00712d;
  }

  .themetoggle {
    background: linear-gradient(to right, #f7e025, #1c2f78);
  }

  .javascript {
    background: #efd81d;
  }

  .bootstrap {
    background: #6e2bf4;
  }

  .nextjs {
    background: #004ee6;
  }

  .webpack {
    background: #8ed6fb;
  }

  .webhook {
    background: linear-gradient(to right, #6d00cc, #b37ce2);
  }

  .firebase {
    background: linear-gradient(to right, #dd2c00, #ffc400);
  }

  .sass {
    background: #cf649a;
  }

  .tailwind {
    background: #38bdf8;
  }
}

@include breakpoint(lg) {
  .technologies {
    font-size: 12px;
    gap: 4px;
  }
}

@include breakpoint(xs) {
  .technologies {
    font-size: 9px;
    gap: 4px;
  }
}
