@use "../base/colors" as *;
@use "../abstracts/mixins" as *;

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 175px 0 130px 0;
  transition: all 3s;

  .project-card {
    position: relative;
    width: 500px;
    aspect-ratio: 2;
    margin-bottom: 100px;
    transition: all 3s;

    &:hover {
      z-index: 3;
    }

    .face {
      position: absolute;
      display: flex;
      align-items: center;
      width: 100%;
      aspect-ratio: 2;
      transition: 0.3s;
    }

    .face.face-title {
      justify-content: center;
      background: rgba(22, 21, 37, 0.5);
      backdrop-filter: blur(1px);
      z-index: 2;
      height: 250px;
      border-radius: 8px;
      font-size: 28px;
      transform: translateY(0);

      .project-name {
        background-color: var(--color);
        color: $dark-1;
        padding: 4px 8px;
        border-radius: 16px;
        filter: drop-shadow(0 0 5px var(--color));
        font-weight: 600;
      }
    }

    &:hover .face.face-title {
      transform: translateY(-175px);
      height: 50px;
      align-items: center;
      border-radius: 8px 8px 0 0;
      background-color: var(--color);
      color: $dark-1;

      .project-name {
        filter: none;
      }
    }

    .face.face-up {
      z-index: 1;
      transform: translateY(0);

      .project-image {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        transition: 0.3s;
      }
    }

    &:hover .face.face-up {
      transform: translateY(-50%);
    }

    &:hover .face.face-up .project-image {
      border-radius: 0;
    }

    .face.face-down {
      background: var(--color);
      border-radius: 8px;
      justify-content: center;
      transform: translateY(0);
      overflow: hidden;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px;

        p {
          text-align: justify;
          font-size: 15px;
          color: $dark-1;
        }

        .project-links {
          display: flex;
          justify-content: center;
          gap: 40px;
          margin-top: 16px;

          a {
            width: 40%;
            background-image: linear-gradient(
              45deg,
              #12c2e9,
              #c471ed 50%,
              #f64f59
            );
            border-radius: 8px;
            box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
            color: $white;
            font-size: 16px;
            padding: 3px;

            span {
              background-color: $dark-1;
              padding: 4px 0;
              border-radius: 8px;
              width: 100%;
              transition: 300ms;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 8px;
            }

            &:hover span {
              background: none;
            }

            &:active {
              filter: brightness(1.25);
            }
          }
        }
      }
    }
    &:hover .face-down {
      transform: translateY(125px);
      aspect-ratio: 0;
      height: auto;
      border-radius: 0 0 8px 8px;
    }
  }
}

@include breakpoint(lg) {
  .card-container {
    margin: 145px 0 130px 0;

    .project-card {
      width: 420px !important;

      .face.face-title {
        font-size: 20px !important;
        height: 210px;
      }

      &:hover .face.face-title {
        transform: translateY(-145px) !important;
        height: 40px !important;
      }

      .face.face-down {
        .content {
          padding: 10px !important;

          .project-links {
            margin-top: 8px !important;
            a {
              font-size: 14px !important;
              width: 35% !important;
            }
          }
        }
      }

      &:hover .face-down {
        transform: translateY(105px) !important;
      }
    }
  }
}

@include breakpoint(md) {
  .card-container {
    width: 100%;
    justify-content: center;
    margin: 175px 0 130px 0;

    .project-card {
      width: 500px !important;

      .face.face-title {
        height: 250px;
      }

      &:hover .face.face-title {
        transform: translateY(-175px) !important;
        height: 50px !important;
      }

      &:hover .face-down {
        transform: translateY(125px) !important;
      }
    }
  }
}

@include breakpoint(xs) {
  .card-container {
    width: 100%;
    justify-content: center;
    margin: 110px 0 90px 0;

    .project-card {
      width: 320px !important;
      height: 160px !important;

      .face.face-title {
        font-size: 14px !important;
        height: 160px;
      }

      &:hover .face.face-title {
        transform: translateY(-110px) !important;
        height: 30px !important;
      }

      .face.face-down {
        .content {
          padding: 6px !important;

          p {
            font-size: 12px;
          }

          .project-links {
            margin-top: 4px !important;

            a {
              font-size: 10px !important;
              width: 35% !important;
            }
          }
        }
      }

      &:hover .face-down {
        transform: translateY(80px) !important;
      }
    }
  }
}
