@use "../../scss/base/colors" as *;
@use "../../scss/abstracts/mixins" as *;

// Variables
$card-width: 500px;
$card-height: calc($card-width/2);
$translateY-face-down: calc($card-width/4);
$card-title-font-size: 28px;
$face-title-height: 50px;

$content-padding: 16px;
$content-font-size: 16px;
$content-margin: 16px;

$link-width: 40%;
$link-gap: 40px;

.card-container {
  width: 100%;
  transition: all 3s;
  margin: 180px 0 40px 0;
  position: relative;

  .project-card {
    position: relative;
    width: $card-width;
    aspect-ratio: 2;
    transition: all 3s;

    // Face title
    .face {
      position: absolute;
      display: flex;
      align-items: center;
      width: $card-width;
      height: $card-height;
      transition: 0.3s;
    }

    .face.face-title {
      justify-content: center;
      background: rgba(22, 21, 37, 0.5);
      backdrop-filter: blur(1px);
      z-index: 2;
      border-radius: 8px;
      font-size: $card-title-font-size;
      transform: translateY(0);

      .project-name {
        background-color: var(--color);
        color: $dark-1;
        padding: 4px 8px;
        border-radius: 16px;
        filter: drop-shadow(0 0 5px var(--color));
        font-weight: 600;
      }
    }

    &:hover .face-title {
      transform: translateY(
        calc(calc(-1 * $face-title-height - $card-width/4))
      );
      height: $face-title-height;
      border-radius: 8px 8px 0 0;
      background-color: var(--color);
      color: $dark-1;

      .project-name {
        filter: none;
      }
    }

    // Face up
    .face.face-up {
      z-index: 1;
      transform: translateY(0);

      .project-image {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        transition: 0.3s;
      }
    }

    &:hover .face-up {
      transform: translateY(-50%);
    }

    &:hover .face-up .project-image {
      border-radius: 0;
    }

    // Face down
    .face.face-down {
      background: var(--color);
      border-radius: 8px;
      justify-content: center;
      transform: translateY(0);
      overflow: hidden;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: $content-padding;
        font-size: $content-font-size;

        p {
          text-align: justify;
          color: $dark-1;
          margin: $content-margin 0;
        }

        .project-links {
          display: flex;
          justify-content: center;
          gap: $link-gap;

          a {
            width: $link-width;

            background-image: linear-gradient(
              45deg,
              #12c2e9,
              #c471ed 50%,
              #f64f59
            );
            border-radius: 8px;
            box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
            color: #fff;
            padding: 3px;

            span {
              background-color: $dark-1;
              padding: 4px 0;
              border-radius: 8px;
              width: 100%;
              transition: 300ms;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 8px;
            }

            &:hover span {
              background: none;
            }

            &:active {
              filter: brightness(1.25);
            }
          }
        }
      }
    }
    &:hover .face-down {
      transform: translateY($translateY-face-down);
      aspect-ratio: 0;
      height: auto;
      border-radius: 0 0 8px 8px;
    }
  }

  // Positioning
  &::before {
    content: "";
    position: absolute;
    left: calc(50% - 2px);
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #ccc;
  }

  .project-card::before {
    content: "";
    position: absolute;
    top: 10px;
    width: 20px;
    height: 15px;
    background-color: $base-color-3;
  }

  .project-card.left::before {
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    right: -15px;
  }

  .project-card.right::before {
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
    left: -15px;
  }

  .project-card::after {
    content: "</>";
    position: absolute;
    text-align: center;
    align-content: center;
    top: -2px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $base-color-3;
    border: 2px solid #fff;
    filter: drop-shadow(0 0 3px $base-color-3);
    color: #fff;
    font-size: 16px;
  }

  .project-card.left::after {
    right: -60px;
  }

  .project-card.right::after {
    left: -60px;
  }
}

// Media queries
// (card-width, card-title-font-size, face-title-height, content-margin, content-font-size, content-padding)
@include breakpoint(xxl) {
  @include responsive-card(400px, 22px, 50px, 8px, 14px, 12px);
}

@include breakpoint(xl) {
  @include responsive-card(400px, 22px, 50px, 8px, 14px, 12px);
}

@include breakpoint(lg) {
  @include responsive-card(400px, 22px, 50px, 8px, 14px, 12px);
}

@include breakpoint(md) {
  @include responsive-card(300px, 14px, 30px, 2px, 12px, 10px);
  .card-container {
    margin: 120px 0 40px 0;
  }
}

@include breakpoint(sm) {
  @include responsive-card(500px, 24px, 30px, 16px, 16px, 16px);
  .card-container {
    margin: 200px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-card {
      position: static;
      min-height: 650px;

      .face-title {
        transform: translateY(
          calc(calc(-1 * $face-title-height - $card-width/4))
        ) !important;
        height: $face-title-height !important;
        border-radius: 8px 8px 0 0 !important;
        background-color: var(--color) !important;

        .project-name {
          filter: none !important;
        }
      }

      .face-up {
        transform: translateY(-50%) !important;
      }

      .face-up .project-image {
        border-radius: 0 !important;
      }

      .face-down {
        transform: translateY($translateY-face-down) !important;
        height: 320px !important;
        border-radius: 0 0 8px 8px !important;
      }
    }

    &::before,
    .project-card::after,
    .project-card::before {
      background-color: transparent;
      color: transparent;
      border: none;
    }
  }
  .show-less {
    height: 370px;

    .project-card:not(:first-child) {
      transform: translateY(200px);
    }
  }

  .show-more {
    height: 4940px;
  }
}

@include breakpoint(xs) {
  @include responsive-card(320px, 12px, 20px, 12px, 12px, 12px);
  .card-container {
    margin: 130px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-card {
      position: static;
      min-height: 500px;

      .face-title {
        transform: translateY(-108px) !important;
        height: 28px !important;
        border-radius: 8px 8px 0 0 !important;
        background-color: var(--color) !important;

        .project-name {
          filter: none !important;
        }
      }

      .face-up {
        transform: translateY(-50%) !important;
      }

      .face-up .project-image {
        border-radius: 0 !important;
      }

      .face-down {
        transform: translateY(80px) !important;
        height: 280px !important;
        border-radius: 0 0 8px 8px !important;
      }
    }

    &::before,
    .project-card::after,
    .project-card::before {
      background-color: transparent;
      color: transparent;
      border: none;
    }
  }
  .show-less {
    height: 370px;

    .project-card:not(:first-child) {
      transform: translateY(200px);
      opacity: 0;
    }
  }

  .show-more {
    height: 3800px;
  }
}
