$white: #fff;
$dark-1: #222831;
$dark-2: #393e46;
$dark-3: #161525;
$dark-4: #0f0f1a;

$base-color-1: #60a5fa;
$base-color-2: #e879f9;
$base-color-3: #5eead4;
$base-color-4: #ffdd1c;
$base-color-5: #e3fdfd;
$base-color-6: #ddd7ce;
