@use "../base/colors" as *;

.aboutContainer {
  padding: 80px 10%;
  display: flex;
  align-items: center;
  background-color: $base-color-5;
  flex-direction: column;

  .layoutTitle {
    margin-bottom: 50px;
    font-size: 48px;
  }

  .aboutContent {
    display: flex;
    gap: 10%;

    .profileImage {
      img {
        width: 400px;
        background-color: $base-color-1;
        animation: border-animation 20s ease-in-out infinite;
        filter: drop-shadow(0 0 50px $base-color-3);
        border: 5px solid $base-color-3;
      }
    }

    .aboutMe {
      .name {
        text-align: center;
        margin-bottom: 30px;
        font-size: 32px;
      }

      .coverLetter {
        font-size: 24px;
        text-align: justify;
        line-height: 40px;

        span {
          font-weight: 700;
        }
      }

      .skills {
        margin: 40px 0;
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: space-between;

        .skill {
          width: 60px;
          height: 60px;
          position: relative;
          margin: 8px 0;
          transition: all 0.5s;

          img:hover {
          }
        }

        .skill:hover {
          transform: translateY(-8px);
        }

        .skill::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 10px;
          background-color: $base-color-1;
          bottom: 0;
          left: 50%;
          border-radius: 50%;
          transform: translate(-50%, 10px);
          transition: all 0.5s;
        }

        .skill:hover::after {
          width: 80%;
          height: 8px;
          transform: translate(-50%, 18px);
        }
      }
    }
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shadoww {
  0% {
    width: 100%;
    height: 10px;
  }

  50% {
    width: 80%;
    height: 8px;
  }

  100% {
    width: 100%;
    height: 10px;
  }
}

@keyframes border-animation {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
  }

  10% {
    border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
  }

  20% {
    border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
  }

  30% {
    border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
  }

  40% {
    border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
  }

  50% {
    border-radius: 100%;
  }

  60% {
    border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
  }

  70% {
    border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
  }

  80% {
    border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
  }

  90% {
    border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
  }
}
