@use "../base/colors" as *;

.hero-content {
  width: 80%;
  height: auto;
  padding: 200px 0 300px 0;
  position: relative;

  h3,
  h1,
  p {
    mix-blend-mode: difference;
    filter: invert(1);
  }

  h3 {
    font-size: 48px;
  }

  h3:nth-of-type(2) {
    margin-bottom: 32px;
  }

  h1 {
    font-size: 64px;
  }

  p {
    font-size: 20px;
  }

  .links {
    position: absolute;

    .social-media {
      font-size: 28px;

      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid;
        margin: 30px 15px 30px 0;
        transition: 0.4s ease;
        color: $base-color-3;
        cursor: pointer;
      }

      a:hover {
        color: $white;
        background-color: $base-color-3;
        border: 2px solid $base-color-3;
        box-shadow: 0 0 20px $base-color-3;
      }
    }

    .resume {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 32px;
      color: $white;
      background-color: $base-color-3;
      padding: 0 12px;
      border-radius: 32px;
      border: 3px solid $base-color-3;
      transition: 0.4s ease;
    }

    .resume:hover {
      color: $base-color-3;
      background-color: transparent;
      border: 3px solid $base-color-3;
      box-shadow: 0 0 20px $base-color-3;
    }
  }
}
