@use "../base/colors" as *;
@use "../abstracts/animations";

.hero-container {
  padding: 0 10%;
  display: flex;
  justify-content: center;
}

.hero-content {
  height: auto;
  padding: 200px 0 340px 0;
  position: relative;

  h3,
  h1,
  p {
    mix-blend-mode: difference;
    filter: invert(1);
  }

  h3 {
    font-size: 48px;
    opacity: 0;
    animation: slideBottom 1s ease 1s forwards;
  }

  h3:nth-of-type(2) {
    margin-bottom: 32px;
    opacity: 0;
    animation: slideTop 1s ease 1s forwards;
  }

  h1 {
    font-size: 64px;
    opacity: 0;
    animation: slideRight 1s ease 1.5s forwards;
  }

  p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease 1.5s forwards;
    line-height: 40px;
  }

  .links {
    position: absolute;

    .social-media {
      font-size: 28px;

      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid;
        margin: 50px 15px 50px 0;
        transition: 0.4s ease;
        color: $base-color-3;
        cursor: pointer;
        opacity: 0;
        animation: slideLeft 1s ease calc(1.8s + 0.2s * var(--delay)) forwards;
      }

      a:hover {
        color: $white;
        background-color: $base-color-3;
        border: 2px solid $base-color-3;
        box-shadow: 0 0 20px $base-color-3;
      }
    }

    .resume {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 32px;
      color: $white;
      background-color: $base-color-3;
      padding: 0 12px;
      border-radius: 32px;
      border: 3px solid $base-color-3;
      transition: 0.4s ease;
      opacity: 0;
      animation: slideTop 1s ease 2.6s forwards;
    }

    .resume:hover {
      color: $base-color-3;
      background-color: transparent;
      border: 3px solid $base-color-3;
      box-shadow: 0 0 20px $base-color-3;
    }
  }
}
