@use "../base/colors" as *;

.projects-container {
  padding: 80px 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  // background-color: $dark-3;

  .card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .project-card {
      position: relative;
      cursor: pointer;
      height: 550px;

      .project-name {
        color: $white;
        position: absolute;
        left: 50%;
        top: 14%;
        width: 500px;
        font-size: 28px;
        text-align: center;
        transform: translateX(-50%);
        font-weight: 600;
        background-image: linear-gradient(44deg, #6c22bd, #f55195 50%, #e1cd60);
        border-radius: 8px;
      }

      .face {
        transition: 0.3s;
        width: 500px;
        height: 250px;
        position: relative;
        display: flex;
        align-items: center;
      }

      .face.face-up {
        z-index: 3;
        transform: translateY(150px);

        .project-image {
          width: 500px;
          height: 250px;
          border-radius: 8px;
          transition: 0.3s;

          &::after {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            content: "";
            background: inherit;
            filter: blur(20px);
            transform: scale(1.05);
            opacity: 0.8;
            // transition: 500ms all ease-in-out 0ms;
          }
        }
      }

      &:hover .face.face-up {
        transform: translateY(0);
      }

      &:hover .face.face-up .project-image {
        border-radius: 8px 8px 0 0;
      }

      &:hover .face.face-down {
        transform: translateY(0);
        height: 300px;
        border-radius: 0 0 8px 8px;
        filter: drop-shadow(0 0 25px var(--color));
      }

      .face.face-down {
        background: var(--color);
        border-radius: 8px;
        justify-content: center;
        transform: translateY(-100px);
        overflow: hidden;

        .content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 300px;
          padding: 16px;

          .technologies {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            font-size: 16px;
            font-weight: 500;

            .technology {
              display: flex;
              align-items: center;
              gap: 4px;
              padding: 2px 6px;
              border-radius: 8px;
              color: $white;
            }

            .react {
              background: #58c4dc;
            }

            .typescript {
              background: #377cc8;
            }

            .contextapi {
              background: $base-color-3;
            }

            .hooks {
              background: #a04747;
            }

            .responsive {
              background: linear-gradient(
                to right,
                #6c22bd,
                #f55195 50%,
                #e1cd60
              );
            }

            .reactrouter {
              background: #f44250;
            }

            .materialui {
              background: #0073e6;
            }

            .reactquery {
              background: linear-gradient(to right, #f04842, #f59d0d);
            }

            .api {
              background: #00712d;
            }

            .themetoggle {
              background: linear-gradient(to right, #f7e025, #1c2f78);
            }

            .javascript {
              background: #efd81d;
            }

            .bootstrap {
              background: #6e2bf4;
            }
          }

          p {
            text-align: justify;
            font-size: 15px;
          }

          .project-links {
            display: flex;
            justify-content: center;
            gap: 40px;
            margin-top: 16px;

            a {
              width: 120px;
              background-image: linear-gradient(
                44deg,
                #6c22bd,
                #f55195 50%,
                #e1cd60
              );
              border-radius: 8px;
              box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
              color: $white;
              font-size: 16px;
              padding: 3px;

              span {
                background-color: $dark-3;
                padding: 4px 0;
                border-radius: 8px;
                width: 100%;
                transition: 300ms;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
              }

              &:hover span {
                background: none;
              }
            }
          }
        }
      }
    }
  }
}
