@use "../../scss/base/colors" as *;
@use "../../scss/abstracts/animations";
@use "../../scss/abstracts/mixins" as *;

.navbar-container {
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 8px;
  transition: all 0.3s;

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 4px 24px;
    border-radius: 16px;

    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .nav-btns {
      display: flex;
      gap: 24px;

      .theme-btn {
        cursor: pointer;
        font-size: 32px;
        display: flex;
        align-items: center;

        svg {
          animation: slideRight 1s ease;
        }

        &::after {
          content: "";
          margin-left: 15px;
          width: 3px;
          height: 85%;
          background-color: #fff;
          animation: slideBottom 1s ease;
        }
      }

      li {
        opacity: 0;
        animation: slideTop 1s ease calc(0.2s * var(--delay)) forwards;
        align-content: center;

        .nav-btn {
          font-family: "Mochiy Pop One", sans-serif;
          font-size: 32px;
          letter-spacing: 1px;
          line-height: 32px;
          color: #fff;
          -webkit-text-stroke: 1px var(--color);

          &::before {
            content: attr(data-text);
            position: absolute;
            color: var(--color);
            width: 0;
            overflow: hidden;
            transition: 0.5s;
          }

          &:hover::before {
            width: 100%;
            filter: drop-shadow(0 0 16px var(--color));
          }
        }
      }
    }

    .dropdown-menu-btn {
      background-color: transparent;
      font-size: 40px;
      align-items: center;
      display: none;
      cursor: pointer;
      color: #fff;
    }
  }
}

.expand-navbar {
  padding: 0;

  .navbar {
    border-radius: 0;
    border-width: 0 0 2px 0;
  }
}

.navbar-container {
  @include breakpoint(md) {
    padding: 0;

    .navbar {
      border-radius: 0;
      border-width: 0 0 2px 0;

      .nav-btns {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 62.5px;
        left: 0;
        overflow: hidden;
        transition: all 0.3s;
        background-color: $dark-1;
        z-index: -1;
        border: 2px solid $white;
        border-width: 0 0 2px 0;
        gap: 0;
        height: 0;

        .theme-btn {
          position: absolute;
          right: 14px;
          top: 6px;
          font-size: 24px;
        }

        .nav-btn {
          font-size: 16px !important;

          &:hover::before {
            width: 100%;
            filter: drop-shadow(0 0 4px var(--color)) !important;
          }
        }
      }

      .menu-open {
        height: 133px;
      }

      .menu-close {
        border: none;
      }

      .dropdown-menu-btn {
        display: flex !important;
      }
    }
  }
}

.light-nav {
  @include apply-nav-theme("light");
}

.dark-nav {
  @include apply-nav-theme("dark");
}
